.guest {
    display: flex;
    flex-direction: block;
  }

  
  .guest p {
    margin-left: 20px;
  }
  
  .delete-button {
    border-radius: 3px;
    background-color: #CE005B;
    border: none;
    height: 50px;
    width: 70px;
    margin-right: 10px;
    margin-top: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
  }

