* {
  font-family: "Robot", sans-serif;
  margin-top:0;
  margin-bottom: 0;
  text-align: center;
  color: black;
  background-color: white;
}

.input-name,
.input-age {
  height: 30px;
  background-color: transparent;
  border: none;
  color: black; 
  font-size: 15px;
}

.input-age {
  margin-top: 8px;
  justify-content: space-between; 
}

.input-name {
  margin-left: 0;
  margin-top: 8px;
}

::placeholder {
  color:grey;
  font-size: 20px;
  font-weight: bold;  
}

.input-container {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #30C5D9;
  height: 50px;
  width: 100%;
  justify-content: space-evenly;
}

.add-button {
  border-radius: 3px;
  background-color: #08F26E;
  border: none;
  height: 50px;
  width: 70px;
  margin-right: 10px;
  margin-top: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.balloons{
  padding: 100px;
  display: block;
  margin: auto;
  height: 250px;
}

.navbar {
  display: flex;
  justify-content: center; 
  text-align: center; 
  background-color: black;
  height: 7vh; 
  padding-top: 20px;
  color: white;
}

.footer {
  display: flex;
  justify-content: center; 
  text-align: center; 
  background-color: black;
  height: 7vh; 
  margin-top: 400px;
}

.contact-info {
  background-color: black;
  color: white;
  padding-top: 15px;
}

.wrapper{
  display: flex; 
}